*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
.body{
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    gap: 3 0px;
}
.all{
  overflow: hidden;
}
.sidebar{
    width: 20%;
    background-color: #25252b;
    border-radius: 10px;
    color: white !important;
    position: fixed;
}
.logo{
  padding: 25px;
}
.button {
    --border-right: 6px;
    --text-stroke-color:white;
    --animation-color: #54baac;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    background: transparent;
    border: none;
    font-weight:600;
  }
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }
  .icon.active {
    color: white; 
    background-color: #54baac;
    border-radius: 0px 30px 30px 0px;
    padding: 0px 0px 0px 25px;
    width: 100%;
    height: 50px;
}
.icons a{
  text-decoration: none;
  color: white;
}
.icon{
  padding: 10px 0px 0px 25px;
  display: flex;
  align-items: center;
}
.icon p{
  font-weight: 600;
  margin-top: 17px;
}
.icon i{
  font-size: 21px;
}
.log{
  background-color: #54baac;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  margin-top: 60px;
  position: relative;
}
.cir{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 80px;
  margin-top: -30px;
}
.cir i{
  color: #54baac !important;
}
.top{
  padding-top: 20px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.main-body{
  width: 77%;
  margin-left: 295px;
}
.top input{
  width: 100%;
  border: none;
  outline: none;
  background-color: white;
  height: 40px;
  border-radius: 40px;
  padding: 10px 10px 10px 50px;
}
.hol i{
  position: absolute;
  right: 280px;
  margin-top: 10px;
}
.box{
  width: 40px;
  height: 40px;
  border-radius: 7px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yaa h6{
  color: gray;
}
.lar{
  box-shadow: #63636333 0px 1px 4px 0px;
  background-color: white;
  border-radius: 6px;
  padding: 10px;
}
.image{
  width: 200px;
  height: 150px;
  object-fit: cover;
}
.image img{
  border-radius: 6px;
  height: inherit;
}
.bat{
  padding: 5px 10px 5px 10px;
  border: none;
  outline: none;
  background-color: whitesmoke;
  border-radius: 6px;
}
.juu{
  box-shadow: #63636333 0px 1px 4px 0px;
  background-color: black;
  color: white;
  border-radius: 6px;
  padding: 10px 10px 0px 10px;
}
.line{
  width: 1px;
  background-color: white;
  height: 40px;
  margin-bottom: 10px;
}
.juus{
  box-shadow: #63636333 0px 1px 4px 0px;
  background-color: transparent;
  color: black;
  border-radius: 6px;
  padding: 10px 10px 0px 10px;
}
.calendar {
  border-radius: 5px;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.header button {
  background-color: #54baac;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.header button:hover {
  background-color: #54baac;
}
.weekdays, .days {
  display: flex;
  flex-wrap: wrap;
}
.weekdays div, .days div {
  width: 14.28%;
  text-align: center;
  padding:8px 0;
  box-sizing: border-box;
}
.days div {
  cursor: pointer;
}
.days div.today {
  background-color: #54baac;
  color: white;
  border-radius: 5px;
}
.hidden{
  display: none !important;
}
.contain{
  display: none;
}

@media (max-width:764px) {
  .sidebar,.hol{
    display: none;
  }
  .main-body{
    margin-left: 0px;
    width: 100%;
  }
  .image{
    height: 100px;
  }
  .bab{
    background-color: black;
    padding: 10px 10px 0px 10px;
  }
  .bab i{
    font-size: 20px;
  }
}
